/vendor/
node_modules/
npm-debug.log
yarn-error.log
/public/css
/public/data
/public/fonts
/public/images
/public/js
/public/vendors
/public/storage

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
